/* style.css */

body {
    text-align: center;
    margin: 0;
    /* Remove default margin to cover the entire viewport */
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #144d7b;
    color: #fff;
    padding: 20px;
}

nav {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    background-image: url('C:/Users/warep/Spring/_616fdac6-5fa9-490c-90ec-e99a04b087b9.jpg');
    background-size: cover;
    /* Cover the entire container */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    color: #fff;
    /* Text color on top of the background image */
    padding: 50px;
    /* Adjust padding as needed */
}

h2 {
    font-size: 32px;
}

h3,
h4,
h5 {
    font-size: 24px;
}

p {
    line-height: 1.5;
    margin-bottom: 0;
}

footer {
    background-color: #144d7b;
    color: #fff;
    padding: 20px;
}